$color-red:rgb(128, 0, 0);
header {
    padding-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
        color: white;
        margin-block-start: 0.0em;
        margin-block-end: 0.0em;
        font-size: 32px;
    }
    img {
        width: 60px;
        height: 60px;
        object-fit: cover;
    }
    a {
        text-decoration: none;
        color: white;
        margin-left: 32px;
        font-size: 18px;
        font-weight: 600;
        &:hover {
            transition: 225ms ease-in-out;
            color: $color-red;
            -webkit-transition: 225ms ease-in-out;
            -moz-transition: 225ms ease-in-out;
            -ms-transition: 225ms ease-in-out;
            -o-transition: 225ms ease-in-out;
        }
    }
}