<div class="footer-container">
    <div class="margin">
        <div class="footer-link">

            <a routerLink="/imprint" translate>Imprint</a> -
            <a routerLink="/legalnotice" translate>Legal Notice</a>
        </div>

        <div class="arrow">
            <a href="#top"> <img src="assets/img/arrow-up.png"> </a>
        </div>

        <div class="footer-img">

            <a href="https://www.linkedin.com/in/dominik-graf-b7b403249/" target="_blank"><img src="assets/img/linkedin-box-fill.png"></a>
            <a href="https://github.com/Dominikg77" target="_blank"><img src="assets/img/github-fill.png"></a>
            <a href="https://www.xing.com/profile/Dominik_Graf210/cv" target="_blank"><img src="assets/img/xing-fill.png"></a>
        </div>
    </div>
</div>