<div class="container-works">
    <div class="headline">
        <h2>MY Work</h2>
    </div>

    <div class="my-work">

        <button>All</button>
        <button>Angular</button>
        <button>Javascript</button>
    </div>

    <div>

        <div class="container-projects">
            <div>
                <img src="assets/img/pokedex.png" alt="">
                <div class="work-info-container">
                    <h3>Pokedex</h3>
                    <p>API based libary to check Pokemons from the famous Nintendo game.</p>
                    <div>
                        <button> <a href="#">Try it out</a> </button>
                        <button> <a href="#">GitHub</a></button>
                    </div>
                </div>
            </div>




            <div> <img src="assets/img/elpolloloco.png" alt=""></div>
            <div> <img src="assets/img/join.png" alt=""></div>
        </div>

    </div>

</div>