<div data-aos="fade-up" class="heading">
    <h2 translate>My Work</h2>
</div>
<div class="myWork-container" data-aos="zoom-out" data-aos-duration="500">
    <div>
        <button [class.activated]="all" (click)="allProjects()">All</button>
    </div>
    <div>
        <button [class.activated]="angProjects" (click)="angularProjects()">Angular</button>

    </div>
    <div>
        <button [class.activated]="jsProjects" (click)="javaProjects()">Javascript</button>
    </div>
</div>
<div class="project-container">
    <div class="projects">

        <div class="project-images" data-aos="zoom-in-up" data-aos-duration="1000" *ngIf="java">
            <img src="assets/img/pokedex.png">

            <div class="project-details">
                <div><span class="f-size-22"><h3>Pokedex</h3></span></div>
                <p translate>API based library to check Pokemons from the famous Nintendo game.</p>
                <div class="btn-container">
                    <a class="link-btn" href="https://dominik-graf.ch/pokedex/" target="_blank">Try it out</a>
                    <a class="link-btn" href="https://github.com/Dominikg77/pokedex" target="_blank">GitHub</a>
                </div>
            </div>
        </div>
        <div class="project-images" data-aos="zoom-in-up" data-aos-duration="1000" *ngIf="java">
            <img src="assets/img/elpolloloco.png">
            <div class="project-details">
                <div><span class="f-size-22"><h3>El POLLO LOCO</h3> </span></div>
                <p translate>
                    A Jump and Run game based on objectoriented programming with JavaScript.</p>
                <div class="btn-container">
                    <a class="link-btn" href="https://dominik-graf.ch/El-Pollo-Loco/" target="_blank">Try it out</a>
                    <a class="link-btn" href="https://github.com/Dominikg77/El-Pollo-Loco" target="_blank">GitHub</a>
                </div>

            </div>
        </div>
        <div class="project-images" data-aos="zoom-in-up" data-aos-duration="1000" *ngIf="java">
            <img src="assets/img/join.jpg">
            <div class="project-details">
                <div><span class="f-size-22"><h3>JOIN</h3></span></div>
                <p translate>Tasks management system based on Eisenhower s urgent-important-principle.</p>
                <div class="btn-container">
                    <a class="link-btn" href="https://dominik-graf.ch/join/" target="_blank">Try it out</a>
                    <a class="link-btn" href="https://github.com/Dominikg77/Join" target="_blank">GitHub</a>
                </div>
            </div>
        </div>
    </div>

    <div class="projects ">
        <div class="project-images" data-aos="zoom-in-up" data-aos-duration="1000" *ngIf="java">
            <img src="assets/img/lieferando.png">
            <div class="project-details">
                <div><span class="f-size-22"><h3>Eat-Just</h3></span></div>
                <p>My first big project with javascript.</p>
                <div class="btn-container">
                    <a class="link-btn" target="_blank" href="https://dominik-graf.ch/eat-just/">Try it out</a>
                    <a class="link-btn" target="_blank" href="https://github.com/Dominikg77/Eat-Just">GitHub</a>
                </div>
            </div>
        </div>
        <div class="project-images" data-aos="zoom-in-up" data-aos-duration="1000" *ngIf="angular">
            <img src="assets/img/websetie-bild2.png">
            <div class="project-details">
                <div><span class="f-size-22"><h3>Portfolio</h3></span></div>
                <p translate>Angular-based Webpage.</p>
                <div class="btn-container">
                    <a class="link-btn" href="#top">Go to Top</a>
                    <a class="link-btn" target="_blank" href="https://github.com/Dominikg77/dominik-graf.ch">GitHub</a>
                </div>
            </div>
        </div>
        <div class="project-images" data-aos="zoom-in-up" data-aos-duration="1000" *ngIf="angular">
            <img src="assets/img/ringoffire.png">
            <div class="project-details">
                <div><span class="f-size-22"><h3>Ring of Fire</h3></span></div>
                <p translate>Angular-based web-app of the popular drinking game.</p>
                <div class="btn-container">
                    <a class="link-btn" href="#" target="_blank">Try it out</a>
                    <a class="link-btn" href="#" target="_blank">GitHub</a>
                </div>
            </div>
        </div>
    </div>
</div>