<div id="back-top2" *ngIf="arrowRight" (mousedown)="window()">
    <a href="#top">
        <span class="obenkreis">
<i class="obenpfeil-1"></i>
<i class="obenpfeil-2"></i>
</span>
    </a>
</div>

<!--

<script type = 'text/javascript' >
    //<![CDATA[
    $(document).ready(function() {

        // hide #back-top 
        $("#back-top2").hide();

        // fade in #back-top
        $(function() {
            $(window).scroll(function() {
                if ($(this).scrollTop() > 200) {
                    $('#back-top2').fadeIn();
                } else {
                    $('#back-top2').fadeOut();
                }
            });

            // scroll body to 0px 
            $('#back-top2 a').click(function() {
                $('body,html').animate({
                    scrollTop: 0
                }, 500);
                return false;
            });
        });
    });
//]]>
</script>
-->