.main-container {
    padding-left: 160px;
    padding-right: 160px;
}

.overflow-hidden {
    overflow: hidden;
}

@media (max-width: 875px) {
    .skill {
        scroll-margin-top: 155px;
    }
    .work {
        scroll-margin-top: 155px;
    }
    .about {
        scroll-margin-top: 155px;
    }
    .contact {
        scroll-margin-top: 165px;
    }
}