body {
    margin: 0px;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
    h1 {
        font-size: 64px;
    }
    h2 {
        color: white;
        font-size: 36px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 48px;
    }
    p {
        font-size: 18px;
    }
    a {
        font-size: 18px;
    }
    button {
        font-size: 18px;
    }
}

@media(max-width:1500px) {
    body {
        h1 {
            font-size: 48px;
        }
    }
}

@media(max-width:1250px) {
    body {
        h1 {
            font-size: 34px;
        }
    }
}