body {
    margin: 0px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    h2 {
        color: white;
        font-size: 36px;
    }
    p {
        font-size: 24px;
    }
}