$color-red:rgb(128, 0, 0);
$color-green:rgb(0, 255, 182);
.main-container {
    padding-top: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
        font-size: 64px;
        color: white;
    }
    strong {
        color: $color-red;
    }
    span {
        margin-left: -16px;
        color: $color-green;
    }
    img {
        width: 400px;
        height: 400px;
        object-fit: cover;
        border-radius: 100%;
        border: 2px solid rgba(128, 124, 124, 0.29);
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        object-position: 0px -40px;
    }
    button {
        font-size: 18px;
        padding: 24px 100px 24px 100px;
        background-color: transparent;
        border: 2px solid $color-green;
        color: $color-green;
        border-radius: 10px;
        &:hover {
            transition: all 255ms ease-in-out;
            background-color: rgb(0, 255, 182, 0.15);
        }
    }
}

.arrow-down {
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

@media(max-width:1450px) {
    .main-container {
        padding-top: 160px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            font-size: 48px;
            color: white;
        }
        strong {
            color: $color-red;
        }
        span {
            margin-left: -16px;
            color: $color-green;
        }
        img {
            width: 300px;
            height: 300px;
            object-fit: cover;
            border-radius: 100%;
            border: 2px solid rgba(128, 124, 124, 0.29);
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
            object-position: 0px -40px;
        }
        button {
            font-size: 36px;
            padding: 16px 48px 16px 48px;
            background-color: transparent;
            border: 5px solid $color-green;
            color: $color-green;
            border-radius: 10px;
            &:hover {
                transition: all 255ms ease-in-out;
                background-color: rgb(0, 255, 182, 0.15);
            }
        }
    }
    .arrow-down {
        display: flex;
        justify-content: center;
        padding-top: 250px;
    }
}