<div class="main-container">

    <div data-aos="fade-left" data-aos-duration="1200">
        <h1>
            Hi, <br> I'm <strong>Dominik</strong> Graf <br> Front End Deveplop <span>e</span>r
        </h1>
        <a href=" #contact "> <button>Contact me</button></a>
    </div>
    <div data-aos="fade-right" data-aos-duration="1200">
        <img src="assets/img/portrai1.jpeg ">
    </div>

</div>

<div class="arrow-container">
    <div class="arrow ">
        <a href="#skill ">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
</div>