<div class="main-container">
    <img class="bg" src="assets/img/bg3.jpg">
    <div data-aos="fade-left" data-aos-duration="1200">
        <h1 translate>
            Hi, <br> I'm <strong>Dominik</strong> Graf <br> Front End Develop <span translate>e</span>r
        </h1>
        <a href=" #contact "> <button translate>Contact me</button></a>
    </div>
    <div class="main-img" data-aos="fade-right" data-aos-duration="1200">
        <img src="assets/img/portrai_01.jpg">
    </div>

</div>

<div class="arrow-container">
    <div class="arrow ">
        <a href="#skill ">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
</div>